[push]
  default = simple
[user]
  name = Alex Bieg
  email = alexbieg95@gmail.com
[core]
  excludesfile = /Users/alexbieg/.gitignore_global
  editor = vim
[diff]
  tool = vimdiff
[difftool]
	prompt = 0
[merge]
  tool = vimdiff
  conflictstyle = diff3
